<form method="post" action="/planner/<%= @note.id %>">

  <label for="title">Title of note:</label>
  <input id="title" type="text" name="title" value="<%= @note.title %>" />

  <br>

  <label for="description">Description of note:</label>
  <input id="description" type="text" name="description" value="<%= @note.description %>" />

  <br>

  <label for="day">Select a day:</label>
  <% for day in @days  %>
      <input type="checkbox" name="day_array[]" value="<%= day.id  %>" id="day"><%= day.day  %>
  <% end %>
  <br>

  <input type="submit" value="Edit Note">

</form>
